################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSDevelopers/obj
/.vs/VSDevelopers/v16/.suo
/VSDevelopers/bin/Debug/netcoreapp3.1
/TestVSDevelopers/bin
/TestVSDevelopers/obj
